.user{
display: flex;
width: 100%;
height: 100vh;
}
.userData{
  width: 30%;
  height: auto;
  margin: 0 auto;
  margin-top: 15%;
}
.userList{
width: 20%;
height: 100%;
margin-right: 5%;
border-right: 1px solid #333333;
}
h2{
  cursor: pointer;
  font-size: 20px;
  line-height: 50px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

label{
  margin-right: 10px;
}
